* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: Courier;
    font-weight: lighter;
}

footer {
    font-size: .65em;
    text-align: center;
    margin-top: 200px;
}

/* TITLE CARD CSS */
#title-card {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 100px;
}

#title-card header {
    font-size: 2em;
}

#title-card p {
    margin: 20px 0 20px 0;
    line-height: 30px;
}

#title-card a {
    font-size: 1.5em;
    text-decoration: none;
    color: red;
}

#title-card ul {
    margin-top: 20px;
    display: inline-block;
}

#title-card li {
    display: block;
    width: 150px;
}


/* GAME WINDOW STYLINGS */
#game-window {
    margin: 0 auto;
    text-align: center;
    font-size: 1.7em;
}

#game-window span {
    display: inline-block;
    width: 20px;
    height: 30px;
    color: gray;
    vertical-align: middle;
}

#game-window div.row {
    display: block;
}

#interface {
    margin: 0 auto;
    text-align: center;
    font-size: 1.25em;
}

#interface li {
    display: inline;
    margin: 0 10px;
}

.line-of-sight {
    background-color: rgba(100,100,255,.15);

}



/* ENVIRONMENT */
#game-window span.green-1 {
    background-color: #C7F4C7;
}
#game-window span.green-2 {
    background-color: #CFFFCF;
}
#game-window span.green-3 {
    background-color: #C1EEC1;
}

#game-window span.black {
    color: black;
    background: black;
}


/* BLOODSTAINS */
#game-window div span.pizza-blood {
    color: red;
}

#game-window div span.goblin-blood {
    color: limegreen;
}

#game-window div span.troll-blood {
    color: brown;
}

/* ICONS */
#game-window div span.wall {
    background-color: #888;
    color: #ccc;
}

#game-window div span.pizza {
    color: red;
}

#game-window div span.goblin {
    color: limegreen;
}

#game-window div span.troll {
    color: brown;
    font-weight: bold;
}

#game-window div span.player {
    color: black;
}